.name {
    margin-bottom: 20px;
    text-align: center;
}

.content>h2 {
    margin-bottom: 20px;
}

.wrapper .content .articles a{
    display: block;
    text-indent: 20px;
    margin-bottom: 20px;
}

.wrapper .content .articles a:last-child{
    margin-bottom: 0;
}