{% extends "base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block Style %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}"> {% endblock %}
{% block content %}
    <div class="content">
        <div class="Meta">
            <a href="/user/{{ article.user_Id.id }}/?page=1" class="author"><h2><u>Author: {{ article.user_Id }}</u></h2></a>
            <h2>{{ article.time }}</h2>
        </div>
        
        <h1 class="title">{{ article.title }}</h1>
        <div class="text">{{ article.text | safe }}</div>
    </div>
{% endblock %}

{% block comments %}
    <div class="wrapper">
        {% if comments.has_next or comments.has_previous %}
            <div class="pagination">
                {% if comments.has_previous %}
                    <a href="?page={{ comments.previous_page_number }}" class="prev">Prev Page</a>
                {% else %}
                    <a href="#" class="prev disabled">Prev Page</a>
                {% endif %}

                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}" class="next">Next Page</a>
                {% else %}
                    <a href="#" class="next disabled">Next Page</a>
                {% endif %}
            </div>
        {% endif %}
        <h1 class="title-comments">Comments</h1>
        <div class="comments">
            <form method="POST" action="" name="comment-form">
                {% csrf_token %}
                {{ form.text }}
                <input type="submit" value="Send">
            </form>

            {% for comment in comments %}
                <div class="comment">
                    <a href="/user/{{ comment.user_Id.id }}/?page=1" class="comment-author"><h2>{{ comment.user_Id.username }}</h2></a>
                    <p class="text">{{ comment.text }}</p>
                    <p>{{ comment.time }}</p>
                </div>
            {% endfor %}
        </div>
        {% if comments.has_next or comments.has_previous %}
            <div class="pagination">
                {% if comments.has_previous %}
                    <a href="?page={{ comments.previous_page_number }}" class="prev">Prev Page</a>
                {% else %}
                    <a href="#" class="prev disabled">Prev Page</a>
                {% endif %}

                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}" class="next">Next Page</a>
                {% else %}
                    <a href="#" class="next disabled">Next Page</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}