{% extends "base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block Style %} <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}"> {% endblock %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <h1>Login</h1>
        <p>Username</p>
        {{ form.username }}
        <p>Password</p>
        {{ form.password }}
        
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
        <input type="submit" value="Login" />

        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
{% endblock %}