{% extends "base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'main/css/login_signUp.css' %}"> 
{% endblock %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <h1>Signup</h1>
        <p>Username</p>
        {{ form.username }}
        <p>Password</p>
        {{ form.password1 }}
        <p>Repeat password</p>
        {{ form.password2 }}
            
        <p>{{form.errors}}</p>

        <input type="submit" value="Sign up" name="Create_User">

        <p>Have an account? <a href="/login">Login</a></p>
    </form>
{% endblock %}